.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #333333;
  }
.linkto {
  font-family: monospace;
  font-size: 300%;
  font-variant: small-caps;
}
a {
	color: #dddddd;
	text-decoration: none;
   }
a:hover {
	color: #ffffff;
   }
a:active {
	color: #000000;
	background-color: #ffffff;
   }
a:visited {
	color: #555555;
   }
