body {
	height: 100%;
	}
table {
	width: 80%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 10%;
	right: 10%;
	}
table, td {
	text-align: center;
	border: 2px solid black;
	}
.h-f {
	height: 150px;
	}
.left {
	width: 15%;
	}
.right {
	width: 25%
	}